/* #region RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* #endregion RESET */
/* #region DEBUG */
.debug {
    border: 2px dashed red;
}
/* #endregion DEBUG */
/* #region GENERAL (provo a usare classi per ogni proprietà */
.flexible {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
}
section {
    background-color: white;
}
.padd {
    padding: 80px 48px;
}
.padd-bot {
    padding-bottom: 14px;
}
.padd-sides {
    padding-right: 56px;
    padding-left: 56px;
}
.space-btw {
    justify-content: space-between;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}
h2 {
    font-size: 40px;
    padding: 48px 0;
}
/* #endregion GENERAL */
/* #region BUTTONS */
.btn-blue {
    color: white;
    background-color: #0061ff;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.5s;
}
.btn-blue:hover {
    filter: brightness(150%);
}
.btn-white{
    color: black;
    background-color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid black;
    transition: .5s;
}
.btn-white:hover {
    color: white;
    background-color: #0061ff;
    border: 1px solid transparent;
    border-radius: 20px;
}
/* #endregion BUTTONS */
/* #region HEADER */
header {
    background-color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 5px -3px rgba(130, 130, 130, 0.3);
}
nav > a {
    text-decoration: none;
    color: black;
    padding: 16px;
    transition: 0.2s;
}
header a:hover {
    border-bottom: 1px solid #0061ff;
}
.left-nav, .right-nav {
    gap: 32px;
    font-size: 16px;
}
.right-nav > a:last-child {
    align-self: center;
    margin-right: 12px;
}
/* #endregion HEADER */
/* #region MAIN */
/* #region HERO-IMAGE */
h1 {
    padding-bottom: 48px;
    font-size: 80px;
    font-weight: 800;
    padding-top: 16px;
}
.hero-image {
    background-color: #b4d0e7;
    max-height: 740px;
}
.hero-image .small-col {
    width: 30%;
}
.small-col > p {
    padding-bottom: 32px;
}
.small-col > div {
    padding-top: 60px;
}
.arrow-down {
    font-size: 24px;
}
.hero-image .big-col {
    width: 70%;
}
.hero-image > .container > .row > .big-col > img {
    width: 840px;
    position: absolute;
}
/* #endregion hero image */
/* #region SECTIONS */
input {
    appearance: none;
    border: 2px lightgray solid;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
h2 + input {
    border: 4px solid #0061ff;
}
input + input {
    margin-left: 48px;
}
.col {
    width: calc(100% / 3 - 16px);
    justify-content: center;
    margin-top: 48px;
}
.head-col {
    justify-content: center;
    padding: 8px 0;
    border: 1px solid lightgray;
    border-bottom: none;
    align-items: center;
    gap: 5px;
}
.main-col {
    border: 1px solid lightgray;
    padding: 28px 38px;
    margin-bottom: 32px;
}
.card-col {
    height: 100%;
    height: 800px;
}
.card-col > h3 {
    padding-bottom: 16px;
}
.price {
    font-weight: 700;
    padding-bottom: 10px;
}
.period {
    font-weight: 100;
    color: gray;
    padding-bottom: 40px;
}
.info-plan {
    gap: 5px;
    align-items: flex-start;
    padding-bottom: 8px;
}
.info-plan + .btn-blue {
    margin: 32px 0;
}
.s-hr {
    margin: 40px 0;
    width: 48px;
}
hr + h5 {
    padding-bottom: 16px;
}
.large-col > .main-col > .flexible {
    justify-content: space-between;
    padding-bottom: 8px;
}
.large-col > .main-col > .flexible + div {
    font-weight: 700;
    padding-bottom: 48px;
}
.second-section > .container > .row > .big-col > img {
    width: 100%;
}
.second-section > .container > .row > .small-col {
    padding-left: 32px;
    padding-top: 48px;
}
.small-col > h3 {
    font-size: 32px;
    padding-bottom: 32px;
}
.card {
    width: calc(100%/3);
    padding: 24px;
}
.card:hover {
    box-shadow: 0px 0px 5px #0062ff54;
    border-radius: 30px;
    transition: 0.5s;
}
.card > img {
    width: 100%;
}
.card > h3 {
    padding-bottom: 24px;
}
.clients {
    width: calc(100% / 3);
}
.center-client {
    padding: 40px;
}
.clients > img {
    width: 50%;
    padding-bottom: 32px;
}
.client {
    width: calc(100% / 2);
    aspect-ratio: 1;
    justify-content:center;
    align-items: center;
    transition: .3s;
}
.client:hover {
    border: 15px solid rgba(250, 250, 250, 0.2);
}
.client > img {
    filter: invert(1);
    width: 50%;
}
.free-trial {
    background-color: #b4d0e7;
    justify-content: space-between;
}
.free-trial > div {
    justify-content: space-between;
}
.free-trial > div > h2 {
    width: 60%;
    color: #61092a;
}
.fifth-section {
    padding-bottom: 64px;
}
.fifth-section input {
    display: none;
}
label {
    display: block;    
    padding: 40px 0;
    cursor: pointer;
    transition: ease 1s;
    border-top: 1px solid lightgray;
}
.content {
    padding: 0px 48px;
    margin-bottom: 30px;
}
input + label + .content {
    display: none;
}
input:checked + label + .content {
    display: block;
}
label:last-of-type {
    border-bottom: 1px solid lightgray;
}
.ask {
    justify-content: space-between;
    font-weight: 600;    
}
/* #endregion SECTIONS */
/* #endregion MAIN */
/* #region FOOTER */
footer {
    background-color: black;
    color: white;
}
.foot-col {
    width: calc(100% / 5);
}
h4 {
    font-size: 22px;
    padding: 32px 0;
}
li {
    list-style: none;
    margin-bottom: 13px;
    font-weight: 100;
}
#foot-hr {
    margin-top: 96px;
    margin-bottom: 32px;
    width: 15%;
}
.language {
    color: #999999;
    align-items: center;
    gap: 16px;
}
li:hover, li > a:hover {
    color: #0061ff;
}
li > a {
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
/* #endregion FOOTER */