/* #region RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* #endregion RESET */
/* #region DEBUG */
.debug {
    border: 2px dashed red;
}
/* #endregion DEBUG */
/* #region GENERAL */
.flexible {
    display: flex;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1200px;
    margin: auto;
    width: 80%;
    padding: 60px 0;
}
/* #endregion GENERAL */
/* #region BUTTONS */
.btn-blue {
    color: white;
    background-color: #0061ff;
    padding: 6px 10px;
    text-decoration: none;
    transition: 0.5s;
}
.btn-blue:hover {
    filter: brightness(150%);
}
/* #endregion BUTTONS */
/* #region HEADER */
header {
    background-color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 5px -3px rgba(130, 130, 130, 0.3);
}
nav > a {
    text-decoration: none;
    color: black;
    padding: 16px;
    transition: 0.2s;
}
header a:hover {
    border-bottom: 1px solid #0061ff;
}
.left-nav, .right-nav {
    gap: 10px;
    font-size: 16px;
}
.right-nav > a:last-child {
    align-self: center;
    margin-right: 20px;
}
/* #endregion HEADER */
/* #region MAIN */
/* #region HERO-IMAGE */
h1 {
    font-size: xx-large;
    padding-bottom: 48px;
    font-size: 56px;
    padding-top: 16px;
}
.hero-image {
    background-color: #b4d0e7;
    height: 590px;
}
.small-col {
    width: 40%;
}
.small-col > p {
    padding-bottom: 32px;
}
.small-col > div {
    padding-top: 32px;
}
.arrow-down {
    font-size: 24px;
}
.big-col {
    width: 60%;
}
.hero-image > .container > .row > .big-col > img {
    height: 368px
}
/* #endregion hero image */
/* #endregion MAIN */
